/*レスポンシブ*/

@media (max-width:600px) {
  main {
    margin: 0;
  }
}

body {
  font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
  background-color: rgb(245, 245, 245);
  margin: 0;
  padding: 0;
}

main {
  margin: 20%;
}

h1 {
  font-weight: 100;
  letter-spacing: 4px;
}

h2 {
  font-weight: 100;
  letter-spacing: 2px;
}

section {
  margin-top: 100px;
}

/* intro */
.brief {
  letter-spacing: 1.5px;
}

.brief a {
  padding-top: 25px;
}


/* Link */
.link {
  
}

.linkBottom {
  display:flex;
  margin-top:30px;
}

.linkBottom div {
  cursor: pointer;
  font-weight: 100;
  margin-right: 12px;
}

h3 {
}

a {
  text-decoration: none;
  color: #000;
  font-weight: 100;
  display: block;
}

/* blog */
.blog a {
  letter-spacing: 1.5px;
}


/* products */
.products a {
  letter-spacing: 1.5px;
}

/* contact */
.linkContact a{
  padding-top: 25px;
}

.wayContact {
  letter-spacing: 1.5px;
}

/* footer */
footer {
  
}

footer a {
  text-align:  center;
  display:flex;
  font-size: 14px;
  letter-spacing: 1px;
  margin-top: 40px;
  margin-bottom: 40px;
}