/*レスポンシブ（スマホ用）*/

@media (max-width:767px) {
  .linkLists {
  display:flex;
  gap:12px;
  }

  .linkLists div{
    display:none;
  }

  main {
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 100px;
  }
}

/*全体*/

body {
  font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
  background-color: rgb(245, 245, 245);
  margin: 0;
  padding: 0;
}

main {
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 100px;
}

section {
  margin-top: 50px;
  margin-bottom:50px;
}

h2 {
  font-weight: 100;
  letter-spacing: 2px;
  margin:0;
  font-size: 24px;
}



/*タイトル*/
h1 {
  margin:0;
  font-size:32px;
  font-weight: 100;
  letter-spacing: 4px;

}

.first{
  display: flex;
  align-items: baseline;
  gap: 16px;
}

.brief {
  margin-top:24px;
  display: flex;
  flex-direction: column;
  gap: 8px; /* 好きな余白 */
}

.brief a {
  font-size: 14px;
}




/* blog */
.blog a {
  letter-spacing: 1.5px;
}


/* products */
.appItem {
  margin-top:24px;
}

.appName {
  font-size:18px;
  color: #000;
}

.appName:hover {
  color: #5a5a5a;
}


.appDiscription {
  font-size:14px;
  margin-top:4px;
  text-decoration: none;
}




/* link */

.linkContact {
  display: flex;
  flex-direction: column;
  gap:12px;
}

.linkLists {
  display:flex;
  flex-direction: row;
  gap:12px;
}

.linkLists a {
  cursor: pointer;
  font-weight: 100;
  color: #000;
}

.linkLists a:hover {
  color: #5a5a5a;
}



/* footer */

footer {
  margin-bottom:50px;
  margin-top:50px;
  justify-items: center;
}
